<h4 class="text-muted">About me:</h4>

<div class="indented">
  <p>
    Hello!  My name is Kyle. I hold a degree in applied physics, have a career
    as an engineer, and like to code in my free time.
  <br>
    While you may find me at a piano bench or playing video games with
    friends and family when I am not studying or working; my favorite
    pastime is enjoying life with my wife Alana.
  </p>
  <p>
    Here are some places you can find out much more about me:
  </p>
  <a title ="Linkedin - More about my resume" href="https://www.linkedin.com/in/kylescully"><img width="40" src="../assets/img/linkedin.jpg" alt="Linkedin"></a>
  <a title ="Github - More about my code" href="https://github.com/zieka"><img width="40" src="../assets/img/github_1.png" alt="Github"></a>
  <a class="padded-5" title ="Instagram - More about my photography" href="https://www.instagram.com/scullykns"><img width="30" src="../assets/img/instagram_1.png" alt="Instagram"></a>
  <a class="padded-5" title ="Facebook - More about my friends" href="https://www.facebook.com/kyle.scully.31"><img width="30" src="../assets/img/facebook.png" alt="Facebook"></a>
  <a title ="Send me an email" href="mailto:scullykns@gmail.com"><img width="40" src="../assets/img/gmail.png" alt="Gmail"></a>
</div>
