<h4 class="section-title">Projects:</h4>

    <div id="items" class="masonry">
      <div *ngFor="let project of projects" class="masonry__item">
        <div class="picture">
          <a *ngIf="project.mediaType === 'image'" class="{{project.mediaType}}" title="{{project.title}}" href="{{project?.href || 'javascript:void(0)'}}">
            <img [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="project.source" [offset]="offset" alt="{{project.imgAlt}}">
          </a>
          <span *ngIf="project.mediaType === 'video'" class="{{project.mediaType}}">
            <video controls="controls">
              <source src="{{project.source}}" type="video/mp4" />
            </video>
          </span>
          <div class="project">
            <div>
              <div class="project__title">{{project.name}}</div>
            </div>
            <div class="description" [innerHTML]="project.description">
            </div>
            <div class="meta">
              <span *ngFor="let link of project.links">
              <a href="{{link.href}}">{{link.name}}</a>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
