# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
current_site/dist
current_site/tmp

# dependencies
current_site/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
current_site/.sass-cache
current_site/connect.lock
current_site/coverage/*
current_site/libpeerconnection.log
current_site/npm-debug.log
current_site/testem.log
current_site/typings

# e2e
current_site/e2e/*.js
current_site/e2e/*.map

#System Files
.DS_Store
Thumbs.db
