body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
}
.indented {
  padding-left: 10px;
}

.section-title {
  color: #676767;
}
