<div class="main-content">
  <div class="header">
    <div class="box b0"></div>
    <div class="box b1"></div>
    <div class="box b2"></div>
    <div class="box b3"></div>
    <div class="box b4"></div>
    <div class="box b5"></div>
    <div class="box b6"></div>
    <div class="name">
      <h3>Kyle Scully</h3>
    </div>
  </div>


  <app-about-me></app-about-me>
  <app-education></app-education>
  <app-experience></app-experience>
  <app-certifications></app-certifications>
  <app-publications></app-publications>
  <app-favorite-tools></app-favorite-tools>
  <app-favorite-languages></app-favorite-languages>
  <app-projects-section></app-projects-section>
</div>
