<h4 class="text-muted">About me:</h4>

<div class="indented">
  <p>
    Hello!  My name is Kyle. I hold a degree in applied physics, have a career
    as an engineer, and like to code in my free time.
  <br>
    While you may find me at a piano bench or playing video games with
    friends and family when I am not studying or working; my favorite
    pastime is enjoying life with my wife Alana.
  </p>
  <p>
    Here are some places you can find out much more about me:
  </p>
  <a *ngFor="let link of links" title ="{{link.title}}" href="{{link.href}}"
    [class.padded-5]="link.imgAlt === 'Instagram' || link.imgAlt === 'Facebook'"
    style="text-decoration: none">
    <img width="{{link.imgWidth}}" src="{{link.imgSrc}}" alt="{{link.imgAlt}}">
  </a>
</div>
